/* From Uiverse.io by gharsh11032000 */ 
.card {
    position: relative;
    width: 590px;
    height: 254px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 12px;
    gap: 12px;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5vw;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: transparent;
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: rotate(-5deg);
    filter: blur(8px);
  }
  
  .card::after {
    content: "";
    z-index: -1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 0;
    right: -15px;
    position: absolute;
    /* inset: 0; */
    background: transparent;
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .heading {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    color: #e81cff;
  }
  

  
  
  
  
  